
services:
    python:
        env_file:
            - .env
        build:
            args:
                BASE_TAG: "${BASE_TAG:-3.13.2-alpine3.21}"
                CONTAINER_TAG: "${CONTAINER_TAG:-latest}"
                CBF_VERSION: 'v3.9.10'
                DEV_TEAM: 'alpine'
                DOCKER_LOG_DIR: '/var/log'
                DOCKER_REGISTRY: "${DOCKER_REGISTRY:-registry.ubuntu.home/}"
                FROM_BASE: "${DOCKER_REGISTRY:-}docker.io/python:3.13.2-alpine3.21"
                HOST_IPS: '10.3.1.10'
                OS_VERSION: '3.21.3'
                PIP_VERSION: '24.3.1'
                PYTHON_VERSION: '3.13.2'
                TARGET: "${DOCKER_REGISTRY:-}alpine/python/3.13.2:${CONTAINER_TAG:-latest}"
                USER_ID: '1000'
                GID: 'users'
                WORK_DIR: '/app'
            context: .
            dockerfile: Dockerfile
            labels:
                container.build.host: "${CONTAINER_BUILD_HOST:-s3.ubuntu.home}"
                container.build.time: "${CONTAINER_BUILD_TIME:-2026-07-25T11:23:39.847381277Z}"
                container.fingerprint: "$CONTAINER_FINGERPRINT:-<.. TBD: calculate from git tree and ENV ..>}"
                container.git.commit: "${CONTAINER_GIT_COMMIT:-abefed59fa3a4de5a856c4e08a8bf8354032c7d9}"
                container.git.refs: "${CONTAINER_GIT_REFS:-HEAD -> main}"
                container.git.url: "${CONTAINER_GIT_URL:-https://nas.home:5001/GIT/uspycommon/build}"
                container.name: 'jenkins/inbound-agent'
                container.origin:  "${CONTAINER_ORIGIN:-abefed5}"
                container.os: 'alpine'
                container.parent: $FROM_BASE
                container.tag: "${CONTAINER_TAG:-latest}"
        container_name: python
        hostname: python
        image: "${DOCKER_REGISTRY:-}alpine/python/3.13.2-alpine3.21:${CONTAINER_TAG:-latest}"
